body {
  margin: auto;
  font-family: "poppins", sans-serif;
  background-color: #f5eedc;
  align-content: center;
  overflow-x: hidden;
}

.navbar {
  background-color: #c04d5a;
  display: flex;
  top: 0;
}
.logo {
  margin: 10px 40px;
}

.logo * {
  color: #f0d96f;
  margin: 0;
  font-family: "ms madi", cursive;
}

.navbar .nav-item {
  margin: 0;
  padding-top: 35px;
  padding-right: 4vw;
  text-decoration: none;
  color: #f5eedc;
}

.navar .nav-item:visited {
  text-decoration: none;
}
